# Development environment prerequisites:
#
# PyCharm IDE (Recommended)
#   Plugins:
#       * Requirements https://plugins.jetbrains.com/plugin/10837-requirements
#       * Bash Support https://plugins.jetbrains.com/plugin/4230-bashsupport

# Plots
matplotlib==3.3.1
scikit-plot==0.3.7

## Image processing
opencv-python==4.4.0.42
numpy==1.18.5
imutils==0.5.3

## Neural networks libraries
scikit-learn==0.23.2
tensorflow==2.3.0
